/* Hero Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Single Grid Column for Smaller Screens */
@media (max-width: 968px) {
    .contact {
        padding: 0% 10% !important;
    }
}

/* Hero Section */
.hero {
    color: var(--color1);
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.hero h1 {
    color: var(--color1);
    padding: 30px 20%;
}

/* Contact Section */
  .contact h2 {
    color: var(--color1);
    padding: 30px 20%;
    padding-top: 100px;
}

.contact  {
    padding: 0% 20%;
    padding-bottom: 30px;
}

.contact form {
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form label {
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact form input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
}

.contact .form-group-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact button {
    background-color: var(--color4);
    padding: 7px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out
}

.contact button:hover {
    background-color: var(--color3);
    color: var(--color5);
}