/* Hero Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Section */
.hero {
    color: var(--color1);
    padding: 80px 10%;
    opacity: 0;
    height: 90vh;
    animation: fadeIn 2s ease-out forwards;
}

.hero .hero-text div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 30px;
    gap: 10px;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 8vw;
    padding-bottom: 10px;
}

.hero > div {
    font-size: 4vw;
    padding-bottom: 20px;
}

.hero-socials {
    font-size: 7vw;
    padding-top: 10px;
}

.hero-socials a {
    transition: color 0.2s ease-in-out;
}

.hero-socials a:hover {
    color: var(--color3);
}

.hero button, .resume-button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero button:hover, .resume-button:hover {
    background-color: var(--color3);
    color: var(--color5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
    .hero > div {
        font-size: 36px;
    }
    .hero-socials {
        font-size: 50px;
        padding-top: 10px;
    }
}

@media (max-width: 1200px) {
    .hero button, .resume-button {
        margin-top: 20px;
        font-size: 12px;
    }
}

/* Skills Section */
.skills-section {
    padding-top: 150px;
}

.skills-section h2 {
    color: var(--color1);
    padding: 30px 20%;
    font-size: 250%;
}

.skills-section img {
    height: 60px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    padding: 0% 10%;
    margin-top: 20px;
    gap: 20px;
}

.skills > span {
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.skills > span:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (min-width: 900px) {
    .skill-text {
        display: block;
    }
}

/* Projects Section */
.projects h2 {
    color: var(--color1);
    padding: 30px 20%;
    padding-top: 30vh;
    font-size: 250%;
}

.projects-grid {
    padding: 0% 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 20px; */
}

.projects-card {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.projects-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}

.projects-card-header img {
    width: 200px;
}

.projects-card a {
    margin-top: 10px;
    width: 30%;
    text-align: center;
    background-color: var(--color4);
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out
}

.projects-card a:hover {
    background-color: var(--color3);
    color: var(--color5);
}

.projects-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.projects-card p {
    display: flex;
    gap: 10px;
}

.projects-card-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.projects-card-footer i {
    font-size: 30px;
}

.projects-card-footer .fa-github {
    font-size: 20px;
}

.projects-card-footer .icon {
    height: 30px
}

.projects-card-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    grid-column: 1 / 4;
    padding: 0;
    cursor: pointer;
}

.view-more h3 {
    font-size: 20px;
    font-weight: 500;
}

/* Contact Section */
.contact h2 {
    color: var(--color1);
    padding: 30px 20%;
    padding-top: 150px;
}

.contact  {
    padding: 0% 30%;
    margin-bottom: 90px;
}

.contact form {
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form label {
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact form input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
}

.contact .form-group-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact button {
    background-color: var(--color4);
    padding: 7px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out
}

.contact button:hover {
    background-color: var(--color3);
    color: var(--color5);
}

/* Responsive Design */
@media (max-width: 968px) {
    .projects-grid {
        grid-template-columns: 1fr !important;
    }

    .projects-card:last-of-type {
        grid-column: 1 / -1;
    }

    .contact {
        padding: 0% 10% !important;
    }
}