:root {
    --color1: #212A31;
    --color2: #2E3944;
    --color3: #124E66;
    --color4: #748D92;
    --color5: #D3D9D4;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color4);
    overflow-x: hidden;
}

/* stack nav on smaller screens */
@media (max-width: 428px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 1em 0; /* Add some space between items */
    }
}

/*      NAV BAR     */
header {
    color: var(--color5);
    align-items: center;
    margin: 2%;
    box-sizing: border-box;
}

a, li {
    transition: color 0.2s;
}

.current {
    color: var(--color2);
    transition: color 0.4s;
}

a:hover, li:hover {
    color: white;
}

li {
    margin-left: 2em;
}

/*      HERO ANIMATION      */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*      HERO SECTION        */
.hero {
    text-align: center;
    color: var(--color1);
    padding: 80px 10%;
    opacity: 0;
    height: 100vh;
    animation: fadeIn 2s ease-out forwards;
}

.hero h2 {
    padding-bottom: 20px;
}

.hero h3 {
    padding-bottom: 40px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color1);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.hero button:hover {
    background-color: var(--color3);
    color: var(--color5);
}

/*      MY WORK     */
.mywork {
    color: var(--color1);
    padding: 5% 20%;
}